:root {
    /*fonts*/
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    /* colors */
    --link-color: #2196f3;
    --hover-color: #188ce8;
    --logo-color: #000000;
    --main-light-color: #ffffff;
    --main-dark-color: #2f303a;
    --main-font-color: #212121;
    --secondary-font-color: #757575;
    --third-font-color: rgba(255, 255, 255, 0.6);
    --portfolio-bg-color: #f5f4f4;
    --icon-color: #afb1b8;
    --white: #ffffff;
    --animation-timing: cubic-bezier(0.4, 0, 0.2, 1);
    --specif-box-color: rgba(47, 48, 58, 0.8);
    --hover-overlay: rgba(33, 150, 243, 0.9);
    
}
  
  /*body css*/
  
body {
    font-family: Roboto, sans-serif;
  }
  
li {
    list-style-type: none;
  }
  
a {
    text-decoration: none;
  }
  
ul {
    margin: 0;
    padding: 0;
  }
  
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
  }
  
img {
    display: block;
  }
  
.list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
.link {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
header {
    border-bottom: 1px solid #ececec;
  }
  
/*header a {
    padding-bottom: 32px;
    padding-top: 32px;
}*/

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    /*outline: 2px solid orange;*/
}
  
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms var(--animation-timing);
}
  
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;

    padding: 40px 40px;

    background: var(--white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.6, 0.14, 0.21, 1.43);
}
  
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}
  
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.8);
}
  
.button-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    background-color: var(--white);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;   
}

.button-close .icon {
  width: 11px;
  height: 11px;
  transition-duration: 250ms;
  transition-timing-function: var(--animating-timing);
}

.button-close:hover .icon,
.button-close:focus .icon {
  fill: var(--link-color);
  cursor: pointer;
  
}

/*.icon { 
  display: inline-block; 
  width: 1em; 
  height: 1em; 
  stroke-width: 0; 
  stroke: currentColor; 
  fill: currentColor; 
}
*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-text {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2em;
  text-align: center;
  letter-spacing: 0.03em;
  
  color: var(--main-font-color);
}
  
.submit {
  text-align: center;

}

.form-field {
  margin-bottom: 20px;
}

.label-form {
  position: relative;
  display: flex;
  flex-direction: column;
}

.label-form:not(:last-child) {
  margin-bottom: 10px;
}

.label-form svg {
  position: absolute;
  bottom: 14px;
  left: 15px;
  fill: var(--main-font-color);
}

.text-form {
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;

  color: var(--secondary-font-color);
}

.input-form {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;

  transition-duration: 250ms;
  transition-timing-function: var(--animating-timing);
}

.input-form:focus {
  border-color: var(--link-color);
  outline: none;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: var(--animating-timing);
}

.input-form:focus ~ svg {
  fill: var(--link-color);
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: var(--animating-timing);
}

.check-box::after {
  display: inline-block;
  vertical-align: middle;
  content: "";
  margin-left: 8px;
  width: 16px;
  height: 15px;
  border-radius: 1px;
  box-shadow: 0 0 0 2px var(--main-font-color);

  transition-duration: 250ms;
  transition-timing-function: var(--animating-timing);
}
.input-checkbox:focus-visible > .checkbox-icon {
  --color3: var(--link-color);
}
.input-checkbox:focus-visible {
  outline-color: var(--link-color);
}
/*.input-checkbox:checked + .check-box::after {
  box-shadow: 0 0 0 2px var(--link-color);
  background-color: var(--link-color);

  background-image: url("../images/icon-check.svg");

  transition-duration: 250ms;
  transition-timing-function: var(--animating-timing);
}*/

.checkbox-text {
  margin-left: 7px;
  margin-right: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;

  color: var(--secondary-font-color);
}

.checkbox-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;

  letter-spacing: 0.03em;

  color: var(--link-color);
  text-decoration: underline;
}

.form-taxt-checkbox {
  position: relative;
  color: var(--secondary-font-color);
  margin-left: 7px;
}

textarea {
  padding: 12px;
  height: 120px;
  display: flex;
  flex-direction: column;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
}

.label-form textarea:focus {
  border-color: var(--link-color);
  outline: none;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: var(--animating-timing);
}

textarea::placeholder {
  max-width: 448px;
  max-height: 120px;
  resize: none;
  color: rgba(117, 117, 117, 0.5);
}

.label-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 20px;
  margin-bottom: 30px;
}
.checkbox-icon {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-133%, -51%);
  --color1: var(--white);
  --color2: var(--white);
  --color3: var(--logo-color);
}

.checkbox-icon:focus {
  --color1: var(--white);
  --color2: var(--white);
  --color3: var(--logo-color);
}

.input-checkbox:checked ~ .form-taxt-checkbox > .checkbox-icon {
  --color1: var(--link-color);
  --color2: var(--white);
  --color3: var(--link-color);
}

.input-checkbox:focus ~ .form-taxt-checkbox > .checkbox-icon {
  --color3: var(--link-color);
}

.modal-button {
  position: relative;
  background: var(--link-color);
  color: var(--main-light-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  margin-top: 0px;
  bottom: 2px;

  border-radius: 4px;
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5em;
  text-align: center;
  letter-spacing: 0.06em;

  width: 200px;
  height: 50px;
}

  /* header css*/
.webstudio-link {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--link-color);
  }
  
.span-studio {
    color: var(--main-font-color);
  }
  
.contacts {
    justify-content: end;
    color: #757575;
    display: flex;
    align-items: center;
  }
  
.nav-list-flex {
    display: flex;
    align-items: center;
    /*border-bottom: 1px solid #ececec;*/
  }
  
.nav-list-flex :last-child {
    margin-right: 0;
  }
  
.nav-list {
    display: flex;
    margin-left: 93px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  
.nav-list .link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--main-font-color);

    transition: color 250ms var(--animation-timing);
  }

.nav-list .item + .item {
    margin-left: 50px;
  }
  
.info-list-contacts .item + .item {
    margin-left: 50px;
    display: flex;
    padding-left: 0;
  }
  
.nav-list a:hover,
.nav-list a:focus {
    color: var(--link-color);
  }

.nav-list .link::after {
    content: "";
    display: block;
    position: absolute;
    top: calc(100% - 4px);
    left: 0;
    height: 4px;
    width: 100%;
    background-color: var(--link-color);
    border-radius: 4px;
    opacity: 0;
}
.nav-list .link.current,
.nav-list .link.current::after {
  color: var(--link-color);
  border-radius: 2px;
  opacity: 1;
}

  
.info-list-contacts {
    display: flex;
    margin: 0 auto;
  }
  
.info-list-contacts a {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--secondary-font-color);
  }
  
.info-list-contacts a:hover,
.info-list-contacts a:focus {
    color: var(--link-color);
    transition: color 250ms var(--animation-timing);
  }

.nav-list-flex .link.current {
    color: var(--link-color);
  }
  
.overlay {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/img\ overlay.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
.contacs-svg,
.contacs-svg {
    fill: currentColor;
    background-size: auto;
    display: flex;
  }
  
.contacs-svg:nth-child(1) {
    margin-right: 10px;
  }
  
.hero {
    background: var(--main-dark-color);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/overlay.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white);
    margin: 0 auto;
    color: var(--main-light-color);
    margin-bottom: 30px;
    max-width: 696px;
    height: 120px;
  }

.hero-button {
    background: var(--link-color);
    color: var(--main-light-color);
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 10px 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.06em;
  }
  
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.featueres {
    display: flex;
}
.featueres .item + .item {
    margin-left: 30px;
}
.featueres .item {
    width: 270px;
    margin-right: 0px;
    padding-inline-start: 0px;
}

.featueres-title {
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-font-color);
}
.featueres-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--secondary-font-color);
}
  
.item quality {
    width: 270px;
  }
  
.quality h3 {
    margin-bottom: 10px;
  }
  
.qualitys:not(:last-child) {
    margin-right: 30px;
  }
  
.quality::before {
    display: block;
    content: "";
    height: 120px;
    background-color: var(--portfolio-bg-color);
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
  }
.antenna::before {
    background-image: url(../images/antenna.svg);
  }
.clock::before {
    background-image: url(../images/clock.svg);
  }
.diagram::before {
    background-image: url(../images/diagram.svg);
  }
.astronaut::before {
    background-image: url(../images/astronaut.svg);
  }
  .specificity {
    margin-bottom: 50px;
    padding-top: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-font-color);
  }
.section.section.specificity {
    margin-bottom: 0;
  }
.specif {
    display: flex;
  }
  
.specif .item + .item {
    margin-left: 30px;
}

.specif-box {
  position: relative;
}

.specif-box-list {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 70px;
  padding: 27px;
  text-align: center;
  background-color: var(--specif-box-color);
}

.specif-box-text {
  color: var(--main-light-color);
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
  font-size: 14px;
  line-height: 16px;
}

.team-bg {
    background: var(--portfolio-bg-color);
  }
  
.team {
    padding-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-font-color);
  }
.all-team {
    display: flex;
    text-align: center;
  }
.all-team .item + .item {
    margin-left: 30px;
  }
.all-team .item {
    background-color: var(--main-light-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: 270px;
    transition: transform 250ms var(--animation-timing);
  }
  
.name-title {
    font-family: var(--main-font);
    font-size: 16px;
    color: var(--main-font-color);
    line-height: 1.18;
    text-align: center;
    margin-bottom: 10px;
  }
  
.position-title {
    color: var(--secondary-font-color);
  }
  
.svg-social-links {
    display: flex;
    justify-content: space-between;
    padding-inline-start: 0px;
    margin-top: 16px;
  }
.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    color: var(--icon-color);
    border-radius: 50%;

    transition: color 250ms var(--animation-timing), 
    background-color 250ms var(--animation-timing);
}
  
.social-links:hover,
.social-links:focus {
    background-color: var(--link-color);
    color: var(--main-light-color);
    outline: none;
}
  
.soc-links-svg {
  fill: var(--icon-color);
  fill: currentColor;
}
  
.clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
.clients-title {
    padding-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
  
    text-align: center;
    letter-spacing: 0.03em;
  
    color: var(--main-font-color);
  }
.clients-list {
    display: flex;
    flex-wrap: wrap;
    padding-inline-start: 0px;
  }
  
.clients-item {
    width: 170px;
    height: 90px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  
.clients-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: var(--icon-color);
    border: 1px solid var(--icon-color);
    border-radius: 4px;

    transition: color 250ms var(--animation-timing),
    border-color 250ms var(--animation-timing);
}
  
.clients-item:nth-child(6n) {
    margin-right: 0px;
  }
  
.clients-item:nth-last-child(-n + 6) {
    margin-bottom: 0px;
  }
  
.clients-link:hover,
.clients-link:focus {
    color: var(--link-color);
    border: 1px solid var(--link-color);
    outline: none;
  }
  
.clients-svg {
    fill: currentColor;
  }
  
.team-card {
    padding: 30px 30px;
  }
.team-title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-font-color);
  }
.team-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-font-color);
  }
  
footer {
    background: var(--main-dark-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

footer-bg {
  margin-right: 70px;
  transition: background-color 250ms var(--animation-timing);
}

.footer-bg a:hover,
.footer-bg a:focus {
    color: var(--link-color);
}

.webstudio-button {
    display: block;
    margin-bottom: 20px;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--link-color);
}

.span-studio-button {
    color: var(--main-light-color);
}

.footer-list-item {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-light-color);
  }
.footer-list {
    display: block;
    margin-top: 9px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--third-font-color);
  }
  
  
.join-us {
    line-height: 1.17;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 20px;
    color: #ffffff;
  
  }
  
  .footer-networks {
    display: flex;
    padding-inline-start: 0px;
    margin: 0 auto;
  }
  
.container-footer-adress {
    margin-right: 70px;
  }
  
.footer-container {
    display: flex;
    align-items: baseline;
    
  }
  
.social-link {
    justify-content: space-between;
    margin: 0 auto;
  }
  
.footer-networks .social-link:not(:last-child) {
    margin-right: 10px;
  }
  
.footer-social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    color: var(--main-light-color);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

    transition: color 250ms var(--animation-timing),
    background-color 250ms var(--animation-timing);
}
  
.footer-social-links:hover,
.footer-social-links:focus {
    background-color: var(--link-color);
    outline: none;
  }
  
.social-svg {
    fill: currentColor;
  }
  
  /*portfolio*/
  
.header-line {
    border: 1px solid #ececec;
  }
.portfolio-projects {
    border-radius: 4px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  
.portfolio-link {
    min-width: 73px;
    padding: 6px 22px;
    /*box-shadow: unset;*/
    background: var(--portfolio-bg-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-font-color);
    border: 1px solid transparent;
    border-radius: 4px;

    transition: background 250ms var(--animation-timing),
    color 250ms var(--animation-timing),
    box-shadow 250ms var(--animation-timing);
}

.portfolio-link:hover,
.portfolio-link:focus {
    background: var(--link-color);
    color: var(--main-light-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12); 
  }
  
.portfolio-projects .item + .item {
    margin-left: 8px;
  }
  
.projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  
.card-link {
    display: block;
    text-decoration: none;
    color: currentColor;

    transition: box-shadow 250ms var(--animation-timing);
  }
  
.card-link:hover,
.card-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    outline: none;
}
  
/*.project-container {
    padding: 20px 24px;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}*/

.projects li {
    background: var(--main-light-color);
    border: 1px solid #eeeeee;
    box-sizing: border-box;
}

.project-title {
    font-weight: 700;
    font-size: 18px;
    /*line-height: 2;*/
    line-height: 36px;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
    color: var(--main-font-color);
}

.project-category {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;

  letter-spacing: 0.03em;

  color: var(--secondary-font-color);;
  }
  
.project-thumb {
    position: relative;
    overflow: hidden;
}
.projects .item {
  width: 370px;
  display: block;
  margin-right: 30px;
  margin-bottom: 30px;

  transition: box-shadow 250ms var(--animation-timing);
}
.project-card {
  position: relative;
  border: 1px solid #EEEEEE;
  border-top: none;
  padding: 20px 24px;
}

.card-description {
  position: absolute;
  top: 100%;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: var(--hover-overlay);

  padding: 63px 24px;

  transition: transform 250ms var(--animation-timing);
}
.projects-list .card-link:hover .card-description,
.projects-list .card-link:focus .card-description {
  transform: translateY(-100%);
}
.card-description-text {
  font-size: 18px;
  line-height: 1.56;
  color: var(--main-light-color);
}
.card-link {
  position: relative;
  overflow: hidden;
  display: block;
  text-decoration: none;
  color: currentColor;

  transition: box-shadow 250ms var(--animation-timing);
}
.card img {
  display: block;
  max-width: 100%;
  height: auto;
}
.footer-subscribe {
  width: 570px;
  margin-left: auto;
}
.footer-discription {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-light-color);

  margin-top: 0;
  margin-bottom: 20px;
}
.speaker-form {
  display: flex;
  margin: auto;
}
.speaker-form input[type="email"] {
  width: 358px;
  height: 50px;

  padding: 16px;

  background-color: var(--background-text-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: var(--third-font-color);

  transition-duration: 250ms;
  transition-timing-function: var(--animation-timing);
}

.email-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 28px;
    margin-left: 12px;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
  
    color: var(--main-light-color);
    fill: currentColor;
    background-color: var(--link-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
  }  